@media (max-width: 1200px) {
  #title {
    font-size: 70px;
  }
  #title-about-us {
    font-size: 70px;
  }
  div {
    p {
      font-size: medium;
    }
  }
  .formulario {
    font-size: medium;
  }
  h3 {
    font-size: 30px !important;
  }
  .card-text {
    font-size: 13px;
  }

  .card_img {
    
    max-width: 40% !important;
  }

}

@media (max-width: 770px) {
  h3 {
    font-size: 30px !important;
  }
  .card-text {
    font-size: 13px;
  }

  .card_img {
    
    max-width: 50% !important;
  }

  .site-header__logo {
    height: 70px;
    width: 75px;
  }
}

@media (max-width: 600px) {
  #title {
    font-size: 50px;
  }
  #title-about-us {
    font-size: 50px;
  }
  div {
    p {
      font-size: medium;
    }
  }
  h3 {
    font-size: 20px !important;
  }
  .card-text {
    font-size: 12px;
  }

  .error-code {
    font-size: 8rem !important;
  }

  .card_img {
    
    max-width: 45% !important;
  }

  .site-header__logo {
    height: 70px;
    width: 75px;
  }
}

@media (max-width: 400px) {
  #title {
    font-size: 30px;
  }
  #title-about-us {
    font-size: 30px;
  }
  div {
    p {
      font-size: small;
    }
  }
  .button-main {
    margin-top: 50px;
    font-size: 20px;
    padding: 20px;
  }
  .formulario {
    font-size: small;
  }

  h3 {
    font-size: 20px !important;
  }

  .card-text {
    font-size: 10px;
  }

  .card {
    border: 0px;
  }

  .site-header__logo {
    height: 60px;
    width: 65px;
  }
  .error-code {
    font-size: 6rem !important;
  }
  .card_img {
    height: auto;
    max-width: 45% !important;
  }
}
